<nav class="nav-cabecalho">
    <div class="menu">
        <li>
            <a routerLink="/">Home</a>
        
        </li>

        <li>
            <a routerLink="/painel"> Mural </a>
        
        </li>

        <li>

            <a routerLink="/conta">Conta</a>
        </li>




        <li>
            <a routerLink="/login">Login</a>

        </li>






        <li>
            <a routerLink="/sobre">Sobre</a>
        </li>





        <li>
            <a routerLink="/login">Sair</a>

        </li>
    </div>

    <div>
    <h6>Seja bem-vindo, </h6> 
    <h6>{{ userName}}!</h6>

    </div>

</nav>