<div class="tela-sobre">
    <div class="flex-container-sobre">

        <div class="empresa">
            <h1>Sobre a nossa empresa</h1>
            <br>
            <p>E-terapia foi criada como ua solução inovadora no tele atendimento psicilogico online. A idea surgiu como um exercício da disciplina de programação Web II, do curso de analise e desenvolvimento de sistemas do Insituto federal de educação, ciencia e tecnologia de pernambco.. </p>
        </div>

        <div>
            <h1>Nossa missão</h1>
            <p>Trabalhar como um elo entre pacientes e pssicologos no tratamentos de quadros psisicológicos que necessitam de uma atenção profissional de maneira imediata.</p>

        </div>

        <div>
            <h1>Nossos valores</h1>
            <p>Ética - prezamos pela seriedade do nosso trabalho em oferecer uma plataforma que resgurade os dados dos usuários e informaçoes delicadas e/ou sigilosas. <br>  </p>

        </div>

    </div>

</div>