

<div class="container-conta">
    <p>Crie uma conta para utilizar os nossos serviços!</p>
    <div class="fomulario-conta-paciente">
        <label for="">CPF</label>
        <input type="text"> <br>
        <label for="">Nome</label>
        <input type="text"> <br>
        <label for="">e-mail</label>
        <input type="text"><br>
        <label for="">Digite uma senha:</label>
        <input type="text"><br>
        <label for="">Repita a senha:</label>
        <input type="text"><br>
        
        <button type="submit"></button>
    </div>
</div>
