


<div class="tela-login">
    <header>Entre com seu e-mail </header>
    <div class="for-login">
        <form action="">
            <label for="entrar">Usuario: </label><br>
            <input  [(ngModel)]="userName" [ngModelOptions] = "{standalone:true}" class="inputStyle" type="entrar" placeholder="Informe seu usuário">
            <br>
            <br>
            <label for="entrar">Senha:</label><br>
            <input class="inputStyle" type="entrar" placeholder="Informe sua senha">
            <div> 
                <button type="submit" (click)="login()">Entrar</button>
            </div>
        </form>
        <br>
     

    </div>

</div>