.tela-login{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 align-content: center;
 width: 100%;
 height: 100vh;
 background-color: rgb(224, 247, 247);
 
}


.for-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center; /*centraliza horizontalmente*/
  
    width: 200px;
    height: 200px;
    padding: 20px; /* centraliza o conteudo dentro da cixa*/
    margin: 20px;
    background-image: url(/my-app/src/app/imagens/terapia1.jpg)
}

