


<div class="tela-login">
    <header>Entre com seu e-mail </header>
    <div class="for-login">
        <div>
            <label for="entrar">Usuario: </label><br>
            <input type="entrar" placeholder="Informe seu usuário">
            <br>
            <br>
            <label for="entrar">Senha:</label><br>
            <input type="entrar" placeholder="Informe sua senha">
        </div>
        <br>
        <div> 
            <button type="submit">Entrar</button>
        </div>

    </div>

</div>