<div class="home">


    <div id="home-section1" class="home-section1">

        <div class="vamos-conversar">
            <h1>Vamos conversar?</h1>
            <p>Entre em contato com uma diversidade de de profisionais <br> dipostos a lhe atender imediatamente.</p>
            <br>
            <button>Iniciar conversa</button>
        </div>
        <div>

        </div>

    </div>

    <div class="home-section2">
        <div class="home-section2-subtopico1">
            <p>Pesquisas recentes demostram que quem possui o hábito de ir regularmente ao psicólogo tem mais chances de
                controlar a ansiedade e evitar a depressão
        </div>

        <div class="home-section2-subtopico2">
            
            <div>
                
            </div>
            
        </div>

    </div>
</div>