
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300vh;
    height: 100vh;
    background: rgb(250, 247, 241);
    
    
   

}

.home-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300vh;
    height: 10vh;
    /*background: rgb(250, 247, 241);*/
    background-image: url(/my-app/src/assets/imagens/terapia1.jpg);
    
   

}



